<a href="https://colab.research.google.com/github/saloniganvir2004-sketch/ML_Practicals/blob/main/ML_Practicals/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("Customer_Clustering.csv")
print("Dataset:\n", df)
print("\nShape of Dataset:", df.shape)

Dataset:
    CustomerID  Age  Annual_Income  Spending_Score
0           1   18             15              80
1           2   22             25              75
2           3   25             35              70
3           4   30             45              60
4           5   35             55              55
5           6   40             65              50
6           7   45             75              40
7           8   50             85              35
8           9   55             95              30
9          10   60            105              25

Shape of Dataset: (10, 4)

In [ ]:
print("\nAverage Age:", df['Age'].mean())
print("Average Income:", df['Annual_Income'].mean())

Average Age: 38.0
Average Income: 60.0

In [ ]:
def income_cluster(income):
    if income <= 40:
        return 'Low Income'
    elif income <= 70:
        return 'Medium Income'
    else:
        return 'High Income'
df['Cluster'] = df['Annual_Income'].apply(income_cluster)
print("\nClustered Data:\n", df[['CustomerID', 'Annual_Income', 'Cluster']])

Clustered Data:
    CustomerID  Annual_Income        Cluster
0           1             15     Low Income
1           2             25     Low Income
2           3             35     Low Income
3           4             45  Medium Income
4           5             55  Medium Income
5           6             65  Medium Income
6           7             75    High Income
7           8             85    High Income
8           9             95    High Income
9          10            105    High Income

In [ ]:
cluster_summary = df.groupby('Cluster')[['Age', 'Annual_Income', 'Spending_Score']].mean()
print("\nCluster Summary:\n", cluster_summary)

Cluster Summary:
                      Age  Annual_Income  Spending_Score
Cluster
High Income    52.500000           90.0            32.5
Low Income     21.666667           25.0            75.0
Medium Income  35.000000           55.0            55.0

In [ ]:
cluster_summary = df.groupby('Cluster')[['Age', 'Annual_Income', 'Spending_Score']].mean()
print("\nCluster Summary:\n", cluster_summary)

Cluster Summary:
                      Age  Annual_Income  Spending_Score
Cluster
High Income    52.500000           90.0            32.5
Low Income     21.666667           25.0            75.0
Medium Income  35.000000           55.0            55.0