<a href="https://colab.research.google.com/github/saloniganvir2004-sketch/ML_Practicals/blob/main/ML_Practicals/Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("Scraping_Dataset.csv")
print("Scraped Data:\n", df)
print("\nShape of Dataset:", df.shape)

Scraped Data:
         Product_Name     Category  Price  Rating
0     Wireless Mouse  Electronics    599     4.3
1  Bluetooth Speaker  Electronics   1299     4.5
2     Cotton T-Shirt      Fashion    499     4.0
3           LED Bulb         Home    199     4.2
4         Face Cream       Beauty    349     4.1
5        Smart Watch  Electronics   1999     4.6
6           Bedsheet         Home    899     4.4
7           Lipstick       Beauty    299     4.3
8              Jeans      Fashion    999     4.2
9         Table Lamp         Home    799     4.5

Shape of Dataset: (10, 4)

In [ ]:
print("\nProduct Names and Prices:\n", df[['Product_Name', 'Price']])
print("\nAverage Price of All Products:", df['Price'].mean())

Product Names and Prices:
         Product_Name  Price
0     Wireless Mouse    599
1  Bluetooth Speaker   1299
2     Cotton T-Shirt    499
3           LED Bulb    199
4         Face Cream    349
5        Smart Watch   1999
6           Bedsheet    899
7           Lipstick    299
8              Jeans    999
9         Table Lamp    799

Average Price of All Products: 794.0

In [ ]:
electronics = df[df['Category'] == 'Electronics']
print("\nElectronics Products:\n", electronics)

Electronics Products:
         Product_Name     Category  Price  Rating
0     Wireless Mouse  Electronics    599     4.3
1  Bluetooth Speaker  Electronics   1299     4.5
5        Smart Watch  Electronics   1999     4.6

In [ ]:
top_product = df.loc[df['Rating'].idxmax()]
print("\nTop Rated Product:\n", top_product)

Top Rated Product:
 Product_Name    Smart Watch
Category        Electronics
Price                  1999
Rating                  4.6
Name: 5, dtype: object